@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

/* 🧩 CUSTOM LOCAL FONTS */
@font-face {
  font-family: 'Magneto Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/MAGNETOB.woff') format('woff');
}

@font-face {
  font-family: 'bileha';
  font-style: normal;
  font-weight: normal;
  src: url('/src/assets/Bileha.otf') format('opentype');
}

/* 🧠 CUSTOM FONT CLASSES */
.font-magneto {
  font-family: 'Magneto Bold', cursive;
}

.font-bileha {
  font-family: 'bileha';
}

.font-Outfit {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif !important;
}
